<h2>Posts <%= link_to 'New Post', new_post_path, class: 'btn btn-primary pull-right' %></h2>

<% @posts.each do |p| %>

	<div class="well">
		<p><h4><%= p.title %></h4></p>
		<p><%= p.body %></p>
		<p>
			<span>Comments: <%= p.comments.length %></span>
			<span class="pull-right">
				<%= link_to 'View', post_path(p) %> | 
				<%= link_to 'Edit', edit_post_path(p) %> | 
				<%= link_to 'Delete', post_path(p), method: :delete, data: {confirm: 'Are you sure?'} %>
			</span>
		</p>
	</div>

<% end %>